
body {
	width: 100%;
	height: 100%;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 0;
	background: #f5f5f5;
	color: #26a0da;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
}

#weather, 
#activity-list, 
#map,  
footer, 
.main, 
#results  {
	display: none;
}

/*
***************Landing Page****************/
header {
	margin: 0;
	text-align: center;
	background: url("ocean.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
	height: 100vh;
	width: 100%;
	opacity: 0.8;
	color: #F5F5F5;
}

header .med {
	font-size: 30px;
	font-weight: normal;
}

h1 {
	font-weight: bold;
	padding-top: 150px;
	font-size: 50px;
	margin-top: 0;
	opacity: 1;
	font-family: 'Francois One', sans-serif;
}

form {
	margin-top: 10px;
}

#zipcode {
	border-radius: 10px;
	font-size: 20px;
	color: #3f8fcc;
	padding: 5px;
	text-align: center;
	width: 200px;
	height: 30px;
	margin: 0 15px;
}

.search-btn, .newSearch {
	margin-left: 15px;
	width: 150px;
	height: 40px;
	font-size: 18px;
	background-color: #F5F5F5; 
	color: #26a0da;
	border-radius: 10px;
	padding: 5px;
	margin: 0 15px;
	cursor: pointer;
}

.newSearch{
	width: 200px;
	height: 40px;
}

.second {
	margin-top: 100px;
}



/*********Main Page/Shows Weather and list activities********/

#weather {
	float: right;
}

#find .logo {
	float: left;
	clear: both;
	line-height: 2px;
	margin: 35px;
}

.image-icon, 
.location-info {
	font-size: 25px;
	margin-top: 10px;
}

#find .med {
	font-size: 30px;
}

#find .large {
	font-size: 45px;
}

#activity-list ul {
	margin-top: 50px;
}

#activity-list ul li {
	display: inline-block;
	font-size:  25px;
	margin: 0 20px;
	padding: 5px;
}

li:hover {
	cursor: pointer;
	font-weight: bold;
}


/*********Results Div and Maps Div********/
h3 {
	color: #9da0a5;
	padding: 0 18px;
}
#results, 
#map{ 
	height: 400px;
	background-color: #F5F5F5;
	padding:0;
	margin-left: 2.78%;
	margin-top:40px;
 }

 #results {
 	overflow: auto;
	font-size: 18px;
	border: 1px solid #d1d3d6;
 }

.placeAddress {
	color: #9da0a5;
	font-size: 14px;
}

.rating {
	color: #26a0da;
}

.star {
	color: #FFD700;
}

h2{
	margin: 0;
	font-size: 35px;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: #26a0da;
}


/*******************FOOTER**************/

footer {
	text-align: center;
}

.newSearch {
	margin: 60px 0;
	background: #26a0da;
	color: #F5F5F5;
}

/*
**********************GRID**************************************/

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
