@media (max-width: 980px) {
	#results, #map {
		width: 90%;
		margin:  15px;
	}


	.med {
		float: none;
		margin-top: 50px;
	}

	.large {
		float: none;
		margin-top: 50px;
	}

	.search-btn, #zipcode {
	font-size: 12px;
	margin: 10px auto;
	width: 250px;
	height: auto;
	display: block;
	}

	#textslide{
	font-size: 30px;
	}

	#activity-list ul li {
	display: block;
	font-size: 16px;
	}

	#weather p {
	font-size: 16px;
	}

	.image-icon {
		padding-top: 20px;
		font-size: ;
	}

	#weather .med {
		float: none;
		font-size: 40px;
	}

	#weather .large {
		float: none;
		font-size: 55px;
		margin-top: 50px;
	}

	h2 {
		font-size: 22px;
	}
}

@media (max-width: 442px) {
		#weather .logo, 
		.large, 
		.med{
			font-size: 30px;
			margin-top: 30px;
		}
}