@media (max-width: 960px) {

	* {
		box-sizing: border-box;
	}



	/*
***************Landing Page****************/
	header {
		padding-top: 80px; 
	}

	header .med {
		font-size: 30px;
	}

	h1 {
		font-size: 20px;
		margin-top: 20px;
		padding: 30px;
	}

	form {
		margin-top: 30px;
	}

	.search-btn, #zipcode {
	font-size: 20px;
	margin: 20px auto;
	width: 350px;
	height: 60px;
	display: block;
	}

	.search-btn {
	font-size: 20px;
	margin: 20px auto;
	width: 200px;
	height: 50px;
	display: block;
	}



/*********Main Page/Shows Weather and Results********/
	.row {
		width: 100%;
	}

	.med {
		float: none;
		margin-top: 50px;
	}

	.large {
		float: none;
		margin-top: 50px;
		margin-bottom: 80px;
	}

	#find .med {
		float: none;
		font-size: 20px;
	}

	#find .large {
		float: none;
		font-size: 30px;
		margin-top: 50px;
	}

	.image-icon {
		padding-top: 20px;
		font-size: ;
	}

	#weather p {
	font-size: 16px;
	}

	#activity-list ul li {
	display: block;
	font-size: 18px;
	text-align: center;
	}

	#activity-list ul {
		padding: 0;
	}
	
	#results, #map {
		width: 95%;
		margin-top: 30px;
	}

	#results {
		padding: 0 10px;
	}
	h2 {
		font-size: 22px;
	}


@media (max-width: 350px) {
		h1 {
			font-size: 12px;
			margin-top: 20px;
			padding: 10px;
		}

		p {
			font-size: 12px;
		}

		#weather .logo {
			font-size: 30px;
			margin-top: 30px;
		}


	.search-btn, #zipcode {
	font-size: 12px;
	margin: 10px auto;
	width: 200px;
	height: 30px;
	display: block;
	}

	header .med {
		font-size: 16px;
		margin: 35px;
	}

	header .large {
		font-size: 18px;
		margin: 35px;
	}
}
