@media (max-width: 1240px) {

	* {
		box-sizing: border-box;
	}



	/*
***************Landing Page****************/
	header {
		padding-top: 80px; 
	}

	header .med {
		font-size: 40px;
	}

	header .large {
		font-size: 55px;
		margin-top: 100px;
	}

	h1 {
		font-size: 30px;
		margin-top: 20px;
		padding: 30px;
	}

	form {
		margin-top: 30px;
	}

	.search-btn, #zipcode {
	font-size: 20px;
	margin: 20px auto;
	width: 350px;
	height: 60px;
	display: block;
	}

	#textslide{
	font-size: 30px;
	margin-top: 20px;
	}

/*********Main Page/Shows Weather and Results********/
	.row {
		width: 100%;
	}

	#results, #map {
		width: 95%;
		margin-top: 15px;
	}

	.med {
		float: none;
		margin-top: 50px;
	}

	.large {
		float: none;
		margin-top: 50px;
		margin-bottom: 80px;
	}



	#activity-list ul li {
	display: block;
	font-size: 18px;
	}

	#weather p {
	font-size: 16px;
	}

	.image-icon {
		padding-top: 20px;
		font-size: ;
	}

	#weather .med {
		float: none;
		font-size: 40px;
	}

	#weather .large {
		float: none;
		font-size: 55px;
		margin-top: 50px;
	}

	h2 {
		font-size: 22px;
	}



@media (max-width: 500px) {
		#weather .logo, 
		{
			font-size: 30px;
			margin-top: 30px;
		}

	#results, #map {
		width: 95%;
	}
}